- name: Upload via rclone
  command: >
    {{ ansible_env.HOME }}/.local/bin/rclone copy
    {{ temporary_store_directory }}/
    {{ rclone_target_remote }}:{{ backup_dir_name }}/{{ specify_directory_in_remote }}/
  notify:
    - Remove backup files on local

- name: List all backup files in rclone remote directory
  command: >
    {{ ansible_env.HOME }}/.local/bin/rclone lsf
    {{ rclone_target_remote }}:{{ backup_dir_name }}/{{ specify_directory_in_remote }}/
  register: rclone_files
  changed_when: false
  failed_when: false

- name: Extract and sort backup filenames (newest first)
  set_fact:
    sorted_backups: >-
      {{
        (rclone_files.stdout_lines | default([])
        | sort(reverse=true))
      }}

- name: Remove oldest backup files from rclone remote
  command: >
    {{ ansible_env.HOME }}/.local/bin/rclone deletefile
    {{ rclone_target_remote }}:{{ backup_dir_name }}/{{ specify_directory_in_remote }}/{{ item }}
  loop: "{{ sorted_backups[max_backups:] }}"
  when: sorted_backups | length > max_backups
