- name: check storage space
  ansible.builtin.import_tasks: ../../check_storage_space/tasks/main.yaml
- name: set up minio
  ansible.builtin.import_tasks: ../../my_minio_client_role/tasks/main.yaml
- name: Ensure minio directory exists
  ansible.builtin.import_tasks: ../../my_minio_client_role/tasks/check.yaml


# 创建临时放置导出的备份文件的目录
- name: Create directory
  ansible.builtin.file:
    path: "{{ temporary_store_directory }}"
    state: directory

# 开启维护模式
- name: Create .maintenance file with PHP content
  become: true
  ansible.builtin.copy:
    dest: "{{ wordpress_directory }}/.maintenance"
    content: |
      <?php $upgrading = time(); ?>
# 导出要备份的内容。读、增加不影响 tar 的打包，但是删除和修改可能会让 tar 报错
- name: Backup MySQL database
  ansible.builtin.shell:
    cmd: "mysqldump -u {{ mysql_user }} --password={{ mysql_password }} {{ mysql_dbname }} > {{ temporary_store_directory }}/{{ backup_date }}_dump.sql"
- name: Backup wordpress files
  become: true
  ansible.builtin.shell:
    cmd: "tar -zc -f {{ temporary_store_directory }}/{{ backup_date }}_wordpress.tar.gz {{ wordpress_directory }} -p"
# 关闭维护模式
- name: Ensure .maintenance does not exist
  become: true
  ansible.builtin.file:
    path: "{{ wordpress_directory }}/.maintenance"
    state: absent


# 将导出文件改变用户
- name: Change owner
  become: true
  file:
    path: "{{ temporary_store_directory }}"
    owner: "{{ansible_env.USER}}"
    recurse: yes

# 上传导出文件到 minio
- name: Upload backup files to minio server
  command: "mc cp --recursive {{ temporary_store_directory }}/ {{ minio_alias }}/{{ bucket_name }}/{{ specify_directory_in_bucket }}/"
  notify:
    - Remove backup files on remote

- name: clear backups
  ansible.builtin.import_tasks: ../../my_minio_client_role/tasks/clear.yaml
