- name: check storage space
  ansible.builtin.import_tasks: ../../check_storage_space/tasks/main.yaml
- name: set up rclone
  ansible.builtin.import_tasks: ../../my_rclone_client_role/tasks/main.yaml

# 创建临时放置导出的备份文件的目录
- name: Create directory
  ansible.builtin.file:
    path: "{{ temporary_store_directory }}"
    state: directory

# 先关闭程序
- name: Ensure related container is stopped
  docker_container:
    name: "{{ item }}"
    state: stopped
  loop: "{{ container_name_list }}"

# 导出要备份的内容
- name: Backup files
  become: true
  command: "tar -zc -f {{ temporary_store_directory }}/{{ backup_file_name_prefix }}_{{ backup_date }}.tar.gz {{ container_directory }}"

# 再开启程序
- name: Ensure related container is started
  docker_container:
    name: "{{ item }}"
    state: started
  loop: "{{ container_name_list | reverse | list }}"


# 将导出文件改所有者
- name: Change owner
  become: true
  file:
    path: "{{ temporary_store_directory }}"
    owner: "{{ansible_env.USER}}"
    recurse: yes

# 上传导出文件到 minio
- name: Upload backup files via rclone
  command: "{{ ansible_env.HOME }}/.local/bin/rclone copy {{ temporary_store_directory }}/ {{ rclone_target_remote }}:{{ backup_dir_name }}/{{ specify_directory_in_remote }}/"
  notify:
    - Remove backup files on local

- name: clear backups
  ansible.builtin.import_tasks: ../../my_rclone_client_role/tasks/clear.yaml
