- name: Stop → Execute → Start
  block:
    - import_tasks: stop.yaml

    - name: Execute protected role
      include_role:
        name: "{{ guarded_role_name }}"

    - import_tasks: start.yaml

  rescue:
    - name: Ensure services are started after failure
      import_tasks: start.yaml
