# 先确保安装。没安装，则执行安装
- name: Check if 'mc' is installed (first check)
  stat: 
    path: /usr/local/bin/mc
  register: mc_installed

- name: Check mc version
  command: mc --version
  register: mc_version
  when: mc_installed.stat.exists

- name: Download and Install 'mc'
  become: true
  get_url:
    url: "https://dl.min.io/client/mc/release/{{ ansible_system | lower }}-amd64/mc"
    dest: "/usr/local/bin/mc"
    mode: '0755'
  environment:
    http_proxy: "{{ http_and_socks_proxy | default('') }}"
    https_proxy: "{{ http_and_socks_proxy | default('') }}"
  when: not mc_installed.stat.exists

# 以免安装失败
- name: Check if 'mc' is installed (second check)
  stat: 
    path: /usr/local/bin/mc
  register: mc_installed
- name: Fail if 'mc' is still not installed after the attempt
  fail:
    msg: "'mc' is not installed and the attempt to download and install it failed."
  when: not mc_installed.stat.exists

# 能到这一步，说明 mc 一定存在
- name: Check mc config
  command: mc alias list
  register: mc_config
  changed_when: false
  failed_when: false
  ignore_errors: true
  when: mc_installed.stat.exists

- name: Configure mc with minio server details
  shell: "mc alias set {{ minio_alias }} {{ minio_url }} {{ minio_access_key }} {{ minio_secret_key }}"
  when: 
    - mc_installed.stat.exists
    - minio_alias not in mc_config.stdout

- name: Test mc configuration
  command: mc ls {{ minio_alias }}
  register: mc_test
  failed_when: mc_test.rc != 0
  when: mc_installed.stat.exists
