- name: check storage space
  ansible.builtin.import_tasks: ../../check_storage_space/tasks/main.yaml
- name: set up rclone
  ansible.builtin.import_tasks: ../../my_rclone_client_role/tasks/main.yaml


# 创建临时放置导出的备份文件的目录
- name: Create directory
  ansible.builtin.file:
    path: "{{ temporary_store_directory }}"
    state: directory

- name: make nextcloud maintain mode on
  become: true
  command: "sudo -u www-data php {{ nextcloud_directory }}/occ maintenance:mode --on"

# 导出要备份的内容。读、增加不影响 tar 的打包，但是删除和修改可能会让 tar 报错
- name: Backup MySQL database
  ansible.builtin.shell:
    cmd: "mysqldump --single-transaction --default-character-set=utf8 -u {{ mysql_user }} --password={{ mysql_password }} {{ mysql_dbname }} > {{ temporary_store_directory }}/{{ backup_date }}_nextcloud-dump.sql"
- name: Backup wordpress files
  become: true
  ansible.builtin.shell:
    cmd: "tar -zc -f {{ temporary_store_directory }}/{{ backup_date }}_nextcloud.tar.gz {{ nextcloud_directory }} -p"

- name: make nextcloud maintain mode off
  become: true
  command: "sudo -u www-data php {{ nextcloud_directory }}/occ maintenance:mode --off"

- name: Change owner
  become: true
  file:
    path: "{{ temporary_store_directory }}"
    owner: "{{ansible_env.USER}}"
    recurse: yes

- name: Upload backup files via rclone
  command: "{{ ansible_env.HOME }}/.local/bin/rclone copy {{ temporary_store_directory }}/ {{ rclone_target_remote }}:{{ backup_dir_name }}/{{ specify_directory_in_remote }}/"
  notify:
    - Remove backup files on local

- name: clear backups
  ansible.builtin.import_tasks: ../../my_rclone_client_role/tasks/clear.yaml
